<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}">
  <link th:href="@{/node_modules/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet">
  <link rel="stylesheet" th:href="@{/node_modules/sweetalert2/dist/sweetalert2.min.css}">
  <link th:href="@{/resources/css/main.css}" rel="stylesheet">
  <title>USER CRUD 2-3-1 application</title>
</head>

<body>

  <nav class="navbar navbar-dark bg-mynav">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Задание 2.3.1</a>
    </div>
  </nav>

  <div class="container">
    <div class="d-flex bd-highlight mb-3">
      <div class="me-auto p-2 bd-highlight">
        <h2>Пользователи (из user)
      </div>
      <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-secondary" onclick="loadTable()">Обновить</button>
        <button type="button" class="btn btn-secondary" onclick="showUserCreateBox()">Новый пользователь (user)</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">email</th>
            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody id="mytable">
          <tr>
            <th scope="row" colspan="5">Загрузка данных...</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <script th:src="@{/css/main.js}" crossorigin="anonymous"></script>
  <script th:src="@{/node_modules/sweetalert2/dist/sweetalert2.min.js}" crossorigin="anonymous"></script>
  <script th:src="@{/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js}"
    crossorigin="anonymous"></script>
</body>

</html>
